#power{
    background-image: url(img/light.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    background-color: white;
    padding-left: 200px;
    
}
a{
    padding: 20px;
}
#nav{
    background-color: grey;
    padding-left: 500px;
}
#fast{
    padding-top: 50vh;
}
h1,h6{
    color:blue
}
label{
    padding: 10px;
}
#btn{
    background-color: orangered;
}
#form1{
    background-color: peru;
}
#body1{
    background-color: salmon;
}
#home{
    background-color: salmon;
}
#contact{
    background-color: salmon;
}
#ower{
    color: red;
}